.home {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  height: 10vh;
  margin: 0;
  padding: 0;
}

.search-bar input[type="text"] {
  width: 50vw;
  padding: 10px;

  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.search-bar input[type="text"]:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-bar .filter-button {
  width: 10vw;

  margin-right: 10px;
  padding: 10px;

  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.search-bar .search-button {
  width: 10vw;

  margin-left: 10px;
  padding: 10px;

  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.blender-top {
  position: fixed;
  top: 20vh;
  left: 0;

  z-index: 1000;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 20px;

  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.blender-bottom {
  position: relative;
  top: -19px;
  left: 0;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 20px;

  background: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 255, 255));
}
.items {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: calc(75vw + 90px);
  overflow-y: scroll;
}
.items-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin-top: 40px;
}
.item {
  width: 30vw;
}

.item-image {
  text-align: center;
}

.item-image img {
  width: 15vw;
  height: 15vw;

  border-radius: 10px;
  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.2));
}

.item-name-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
  margin-bottom: 20px;
}

.item-name {
  font-size: 12px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
}

.socials button{
  padding-left: 40px;
  padding-right: 40px;

  border: 0px solid white;
  background-color: white;
  font-size: 18px;
}
